# lr142 Added:
# Pycharm environment
.idea

# CMakes
cmake-build*
build
include/*.h
lib/*.a
resources.h


# Common Ouputs of Test Examples
dump*
log.lammps
*lammpstrj*
pbs_out
relax.data
system.data
vmd.tcl
*.jpg

# GoogleTest
googletest
/googletest/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

/googletest/
/0402_PolyDADMAC_400K/
0402_PolyDADMAC_400K
/googletest/
/googletest/
